@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: rgb(13, 106, 134);
  --primary-color-darker: rgb(9, 48, 56);
  --primary-color-black: rgb(99, 131, 138);
}

* {
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(61, 44, 44);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}
.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background-color: white;
  width: 15%;
  height: 80px;
  margin: 25px auto;
  border-radius: 20px;
  box-shadow: 2px 3px 9px 1px;
 
}

.container {
  max-width: 540px;
  height: 490px;
  margin: 80px auto;
  background: #fff;
  padding: 20px;
  border-radius: 80px;
  box-shadow: 2px 3px 9px 1px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;

}
form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color) ;
}
form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.relogio {
  width: 100%;
  padding: 45px;
  text-align: center;
  font-size: 5em;
}

.pausado {
  color: red;
}

.botoes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  width: 25%;
  height: 45px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--primary-color-black);
}

button:hover {
  background-color: gray;
}